appdirs
asgi-redis
asgiref
attrs
autobahn
Automat
certifi
channels
chardet
constantly
daphne
dj-database-url
dj-static
Django
django-angular
django-appconf
django-cleanup
django-compressor
djangorestframework
drf-nested-routers
gunicorn
hyperlink
idna
incremental
msgpack-python
oauthlib
olefile
packaging
Pillow
psycopg2
Pygments
PyJWT
pyparsing
python-decouple
python-magic
python-openid
python-social-auth
pytz
redis
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
static3
Twisted
txaio
urllib3
whitenoise
zope.interface
