{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ video.title|escape }}</title>
	<script src="{% static 'js/angular.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
</head>
<body ng-app="View">
	<ul class="topnav">
		<li><a href="{% url 'index' %}">Home</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'upload' %}">Upload</a></li>
		<li class="right"><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
		<li class="right"><a href="{% url 'signup' %}">Signup</a></li>
		<li class="right"><a href="{% url 'login' %}">Login</a></li>
		<li><a href="Home">Home</a></li>
		{% endif %}
	</ul><br><br><br>
	<div ng-controller="ViewController">
		<b style="font-size: 20px;">{{ video.title|escape }}</b><br>
		{{ video.user|escape }}<br>
		<video id="main" width="auto" height="auto" controls autoplay>
			<source src="{{ video.file.url }}" type="video/mp4">
		</video><br>
		<button id="popup" ng-click="popUp()">Disable Popups</button>
		{% if user.is_authenticated %}
		<div>
			<textarea rows="4" cols="50" id="comment" placeholder="Write a comment..."></textarea>
			<video id="webcam" autoplay controls width="700" height="200"></video> <br>
			<button id="post" ng-click="postComment()">Post</button>
			<button id="record" >Record</button>
		</div>
		{% else %}
		<div>
			<a href="{% url 'login' %}">Login</a> to post comments.
		</div>
		{% endif %}


		{% block comments %}
		<br><br>
		<div>
			<div id="comment_title"><b>Comments:</b></div>
			<div id="comment_box" ng-repeat="comment in comments">
				{% verbatim %}
				<div class="comment_content">
					<div>
						<div class="comment_user">{{ comment.user.username }}</div>
						<div>{{ comment.comment }}</div>
					</div>
					<div class="comment_time" ng-click="skipTo(comment.time)">
						Time: {{ comment.time }}s
					</div>
				</div>
				{% endverbatim %}
			</div>
		</div>
		{% endblock %}
	</div>
</body>
</html>